include inc-mixins.jade
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        title Geek Parker
        link(rel='stylesheet',href='/jquery.mobile.min.css')
        script(src='/jquery.min.js')
        script(src='/jquery.mobile.min.js')
        script(src='/jquery.cookie.js')
        style.
            .mystart {
                color: #09f;
                padding-left: 5px;
            }
    body
        #main.container
            block content
        script.
            var curItem;
            $('body')
            // users
            .on('tap', '#admin-user .ui-content a', function(evt, data) {
                // select an user
                var ct = curItem = $(evt.currentTarget);
                $('#openid').val(ct.data('openid'));
                $('#isadmin').val(ct.data('isadmin') ? 1 : 0).slider('refresh');
                console.log(ct.data('openid'), ct.data('isadmin'), $('#isadmin').val());
            })
            .on('submit', '#admin-user form', function(evt) {
                // change user
                evt.preventDefault();
                $('#admin').popup('close');
                $.post('/y/admin', $(this).serialize(), function(data) {
                    curItem.data('isadmin', data.isadmin);
                    if(data.isadmin) {
                        curItem.find('strong').after('<span class="mystart">★</span>')
                    } else {
                        curItem.find('.mystart').remove();
                    }
                });
            })
            // room
            .on('submit', '#room-add', function(evt) {
                // add a new room
                evt.preventDefault();
                $.post('/y/room', $(this).serialize(), function(data) {
                    if(!data.code) {
                        $('#room-name').val('');
                        if(!$('#room-' + data._id).size()) {
                            $('#room-list')
                                .append(
                                    '<li id="room-' + data._id + '" data-roomid="' + data._id + '">' +
                                    '<a href="/y/room/' + data._id + '">' + data.name + '</a>' +
                                    '<a href="#delete-room" data-rel="popup" data-transition="slide">Delete</a>' +
                                    '</li>'
                                ).listview('refresh');
                        }
                    } else {
                        console.log(data);
                    }
                });
            })
            .on('tap', '#room-list li', function(evt) {
                curItem = $(this);
            })
            .on('submit', '#delete-room form', function(evt) {
                evt.preventDefault();
                $('#delete-room').popup('close');
                $.ajax({
                    type: 'delete',
                    url: '/y/room/' + curItem.data('roomid'),
                    success: function(data) {
                        $('#room-' + curItem.data('roomid')).remove();
                        $('#room-list').listview('refresh');
                    }
                });
            })
            // meeting
            .on('submit', '#room-meeting', function(evt) {
                evt.preventDefault();
                $('#alert').popup('open', {
                    positionTo: 'window'
                });
                //- $.post('/y/room/')
            });
