doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title Geek Parker
    link(rel='stylesheet',href='/jquery.mobile.min.css')
    script(src='/jquery.min.js')
    script(src='/jquery.mobile.min.js')
    script(src='/jquery.cookie.js')
  body
    #main.container
        block content
