doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title Geek Parker
    script(src='/jquery.min.js')
    script(src='/jquery.cookie.js')
    script(src='/bootstrap.min.js')
    link(rel='stylesheet',href='/bootstrap.min.css')
  body
    #main.container
        block content
