mixin showNav(cat)
    ul.nav.nav-pills
        li(class= cat == 'users' && "active")
            a(href="/x/users") 用户管理
        li(class= cat == 'actions' && "active")
            a(href="/x/actions") 活动管理
        li(class= cat == 'address' && 'active')
            a(href="/x/address") 通讯录管理
        li
            a(href="/x/logout") 退出登陆
