extends _layout-m

block content
    div(data-role="page")
        +header("极客帕克")
        .ui-content(role="main")
            ul(data-role="listview",data-inset="true")
                li(data-role="list-divider") 导航说明
                li(data-icon="bullets")
                    a(href="/y/eatlist") 订餐列表
                li(data-icon="clock")
                    a(href="/y/meeting") 预约会议室
                li(data-icon="user")
                    a(href="/y/users") 用户管理
            ul(data-role="listview",data-inset="true")
                li(data-role="list-divider") 反馈邮箱
                li(data-icon="mail") seven@geekpark.net
        +footer('info')
