extends _layout-m

block content
    div(data-role="page")
        div(data-role="header",data-position="fixed")
            h1 极客帕克
        .ui-content(role="main")
            ul(data-role="listview",data-inset="true")
                li(data-role="list-divider") 导航说明
                li(data-icon="bullets")
                    a(href="/y/eatlist") 订餐列表
                li(data-icon="clock")
                    a(href="/y/meeting") 会议室预定
                li(data-icon="user")
                    a(href="/y/users") 用户管理
            a(href="mailto:seven@geekpark.net",class="ui-btn ui-icon-mail ui-btn-icon-top ui-corner-all ui-shadow") 反馈请发邮件
        div(data-role="footer",data-position="fixed")
            div(data-role="navbar")
                ul
                    li
                        a(href="/y/eatlist",data-icon="bullets")
                    li
                        a(href="/y/meeting",data-icon="clock")
                    li
                        a(href="/y/users",data-icon="user")
                    li
                        a(href="/y/info",data-icon="info",class="ui-btn-active ui-state-persist")
