extends _layout-m

block content
    div(data-role="page")
        div(data-role="header",data-position="fixed")
            h1 预约会议室
        .ui-content(role="main")
            p 敬请期待预约会议室功能。
        div(data-role="footer",data-position="fixed")
            div(data-role="navbar")
                ul
                    li
                        a(href="/y/eatlist",data-icon="bullets")
                    li
                        a(href="/y/meeting",data-icon="clock",class="ui-btn-active ui-state-persist")
                    li
                        a(href="/y/users",data-icon="user")
                    li
                        a(href="/y/info",data-icon="info")
