extends _layout-m

block content
    div(data-role="page")
        div(data-role="header",data-position="fixed")
            h1 预约会议室
        .ui-content(data-role="main")
            p 预约会议室
        div(data-role="footer",data-position="fixed")
            div(data-role="navbar")
                ul
                    li
                        a(href="/z?pf=mobi",data-icon="bullets",rel="external")
                    li
                        a(href="/y/meeting",data-icon="clock",class="ui-btn-active ui-state-persist")
                    li
                        a(href="/y/users",data-icon="user")
                    li
                        a(href="/y/info",data-icon="info")
