extends _layout-m

block content
    div(data-role="page")
        div(data-role="header",data-position="fixed")
            h1 用户管理
        .ui-content(role="main")
            ol(data-role="listview")
                each user, index in users
                    li
                        img(src="#{user.headimgurl}")
                        strong  #{user.nickname}
                        p #{user.country} - #{user.city}
        div(data-role="footer",data-position="fixed")
            div(data-role="navbar")
                ul
                    li
                        a(href="/y/eatlist",data-icon="bullets")
                    li
                        a(href="/y/meeting",data-icon="clock")
                    li
                        a(href="/y/users",data-icon="user",class="ui-btn-active ui-state-persist")
                    li
                        a(href="/y/info",data-icon="info")
