extends _layout-m

block content
    div(data-role="page")
        +header(tstr + "订餐" + users.length + "人")
        .ui-content(role="main")
            ol(data-role="listview")
                each user, index in users
                    li
                        img(src="#{user.headimgurl}")
                        strong  #{user.nickname}
                        p #{user.country} - #{user.city}
        +footer('eatlist')
